node_modules
.cache
.tmp
Dockerfile
docker-compose.yml
.env
README.md
*.log

# Terraform files and directories
terraform/
*.tf
*.tfstate
*.tfstate.*
.terraform/

# GitHub Actions and workflows
.github/

# Git files
.git/
.gitignore

# Documentation
DEPLOYMENT.md
